{% extends 'base.html.twig' %}
{% block title %}Actualización de  {{place.name}}{% endblock %}
{% block main %}

    {{ parent() }}
    
    <p>Edición del lugar <b>{{place.name}}</b>.</p>    
    

    <div class="bg-light border row align-items-center justify-content-center my-4">
    	<div class="col p-3 text-start">
    		{{ form(formulario) }}
    	</div>        		
		<script src="{{ asset('/js/preview.js') }}"></script>
		<figure class="col p-3 text-center bg-light">
			<img src="{{ asset(covers_directory~'/'~(place.caratula ?? 'default.jpg')) }}" 
    			class="rounded movie-cover preview" 
    			alt="Carátula de {{place.name}}"
    			title="Carátula de {{place.name}}">

    		{% if place.caratula %}
        		<figcaption class="my-3 text-center">
        			Borrar esta carátula
        			<a href="{{path('place_delete_cover', {'id':place.id})}}" >
        				<img src="{{asset('images/buttons/delete.png')}}" height="30" width="30"
        					alt="Borrar carátula" title="Borrar carátula" class="boton">
        			</a>
        		</figcaption>
    		{% endif %}
    	</figure>
    	{# Mensaje a mostrar al añadir photoss #}
    	{%  for message in app.flashes('addPhotoError') %}
    		<div class="alert alert-danger">
    		    {{ message }}
			</div>
		{% endfor %}
		
    	<ul class="list-group p-2 my-3">    	
		
		{% if place.getPhotos()|length>0 %}
			<h2>Imágenes del lugar</h2>
			{# Incluye la subvista con la lista de imágenes #}
			{% set photos = place.getPhotos() %}
			{% include '/includes/galeria_photos_update.html.twig' %}
		{% else %}
			<li class="list-group-item warning">No se han indicado imágenes.</li>
		{% endif %}
    		
    	</ul> 
		
    	<h3>Añadir fotos</h3>
			{{ form_start(formPhoto) }}
            <div class="d-flex flex-row justify-content-start align-items
            border bg-light my-2">
            	<div>
                    <div class=" p-2 mt-3">
                        {{ form_row(formPhoto.title, { 'label': 'Título de la foto' } ) }}
               	    </div>
                    <div class=" p-2 mt-3">               
                   	{#}    {{ form_row(formPhoto.date, { 'label': 'Fecha' }) }} {#}
               	    </div>
                    <div class=" p-2 mt-3">               
                   	    {{ form_widget(formPhoto.picture, { 'label': 'Archivo' }) }}
               	    </div>
                    <div class=" p-2 mt-3">               
                   	    {{ form_row(formPhoto.Guardar) }}
               	    </div>
                </div>
                <div class="p-2 mt-3 col-8" >
					{{ form_row(formPhoto.description, {'label': 'Descripción'}) }}
					{{ form_rest(formPhoto) }}
                </div>                
            </div>
            {{ form_end(formPhoto) }}      		
			
			<script src="{{ asset('/js/preview.js') }}"></script>
    	</div>
{% endblock %}