{% extends 'base.html.twig' %}
{% block title %}Portada{% endblock %}
{% block main %}
    {{ parent() }}
    <p>Esta es la portada del sitio web <b>Symfoplaces</p>
   
   <!-- <p style="font-style:italic">"{# frase #}"</p> -->
   <section id="novedades" class="mb-5" >
   	<h3>Novedades</h3>
   	<p>Estos son las últimos lugares añadidos a nuestra base de datos</p>
   	<div class="container d-flex my-5">
   		{% for place in places %}
   		<figure class="col m-2 text-center">
   			<a href="{{ path('place_show',{'id':place.id})}}">
   				<img 
   				class="rounded img-fluid w-90 h-100 d-inline-block"
   				alt="Portada de {{ place.name }}"
   				src="{{ asset(covers_directory~'/'~place.caratula) }}">
   			</a>
   			<figcaption class="text-center small my-2">
   				<a href="{{ path('place_show',{'id':place.id}) }}">
   					{{ place.name }} ({{ place.city }} - {{ place.continent }})
   				</a>   				
   			</figcaption>
   		</figure>
   		{% endfor %}
   	</div>
   </section>
{% endblock %}